---
import Footer from "../components/Footer.astro";

import NavBar from "../components/NavBar.astro";
---

<html
  data-wf-page="683d438cb5f7527c291506ba"
  data-wf-site="683d438cb5f7527c291506e1"
  lang="en"
>
  <head>
    <meta charset="utf-8" />
    <!-- <title>PraxlQ - about v1</title>
    <meta
      content="A modern AI SaaS template packed with stunning design, interactive Rive animations, and high-quality web assets — built to elevate your product’s online presence."
      name="description"
    />
    <meta content="PraxlQ - about v1" property="og:title" />
    <meta
      content="A modern AI SaaS template packed with stunning design, interactive Rive animations, and high-quality web assets — built to elevate your product’s online presence."
      property="og:description"
    />
    <meta content="../images/open-20graph-20-7-.png" property="og:image" />
    <meta content="PraxlQ - about v1" property="twitter:title" />
    <meta
      content="A modern AI SaaS template packed with stunning design, interactive Rive animations, and high-quality web assets — built to elevate your product’s online presence."
      property="twitter:description"
    /> -->
    <meta content="../images/open-20graph-20-7-.png" property="twitter:image" />
    <meta property="og:type" content="website" />
    <meta content="summary_large_image" name="twitter:card" />
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <meta content="Webflow" name="generator" />
    <link
      href="../css/praxlq.webflow.shared.700aafaa0.min.css"
      rel="stylesheet"
      type="text/css"
    />
    <style>
      @media (min-width: 992px) {
        html.w-mod-js:not(.w-mod-ix)
          [data-w-id="e940dd06-d141-2e3e-31b3-641eae27f029"] {
          -webkit-transform: translate3d(0, 60px, 0) scale3d(1, 1, 1) rotateX(0)
            rotateY(0) rotateZ(0) skew(0, 0);
          -moz-transform: translate3d(0, 60px, 0) scale3d(1, 1, 1) rotateX(0)
            rotateY(0) rotateZ(0) skew(0, 0);
          -ms-transform: translate3d(0, 60px, 0) scale3d(1, 1, 1) rotateX(0)
            rotateY(0) rotateZ(0) skew(0, 0);
          transform: translate3d(0, 60px, 0) scale3d(1, 1, 1) rotateX(0)
            rotateY(0) rotateZ(0) skew(0, 0);
          opacity: 0;
        }
      }
      @media (max-width: 991px) and (min-width: 768px) {
        html.w-mod-js:not(.w-mod-ix)
          [data-w-id="e940dd06-d141-2e3e-31b3-641eae27f029"] {
          -webkit-transform: translate3d(0, 60px, 0) scale3d(1, 1, 1) rotateX(0)
            rotateY(0) rotateZ(0) skew(0, 0);
          -moz-transform: translate3d(0, 60px, 0) scale3d(1, 1, 1) rotateX(0)
            rotateY(0) rotateZ(0) skew(0, 0);
          -ms-transform: translate3d(0, 60px, 0) scale3d(1, 1, 1) rotateX(0)
            rotateY(0) rotateZ(0) skew(0, 0);
          transform: translate3d(0, 60px, 0) scale3d(1, 1, 1) rotateX(0)
            rotateY(0) rotateZ(0) skew(0, 0);
          opacity: 0;
        }
      }
    </style>
    <link href="https://fonts.googleapis.com" rel="preconnect" />
    <link
      href="https://fonts.gstatic.com"
      rel="preconnect"
      crossorigin="anonymous"
    />
    <script
      src="https://ajax.googleapis.com/ajax/libs/webfont/1.6.26/webfont.js"
      type="text/javascript"></script>
    <script type="text/javascript">
      WebFont.load({
        google: {
          families: [
            "DM Sans:300,regular,500,600,700,800",
            "Inter Tight:300,regular,500,600,700,800",
          ],
        },
      });
    </script>
    <script type="text/javascript">
      !(function (o, c) {
        var n = c.documentElement,
          t = " w-mod-";
        (n.className += t + "js"),
          ("ontouchstart" in o ||
            (o.DocumentTouch && c instanceof DocumentTouch)) &&
            (n.className += t + "touch");
      })(window, document);
    </script>
    <link
      href="../images/favicon.png"
      rel="shortcut icon"
      type="image/x-icon"
    />
    <link href="../images/app-icon.png" rel="apple-touch-icon" />
    <script type="text/javascript">
      window.__WEBFLOW_CURRENCY_SETTINGS = {
        currencyCode: "USD",
        symbol: "$",
        decimal: ".",
        fractionDigits: 2,
        group: ",",
        template:
          '{{wf {"path":"symbol","type":"PlainText"} }} {{wf {"path":"amount","type":"CommercePrice"} }} {{wf {"path":"currencyCode","type":"PlainText"} }}',
        hideDecimalForWholeNumbers: false,
      };
    </script>
  </head>
  <body data-scroll-time="0">
    <main id="main" class="content">
      <NavBar />
      <section class="hero-section for--home height-auto">
        <img
          src="../images/rectangle-206-20-1-.svg"
          loading="lazy"
          style="opacity: 0"
          data-w-id="5e208695-881f-816a-21cf-becc4af91746"
          alt="custom white shadow vector"
          class="home-hero-design-shadow"
        /><img
          src="../images/rectangle-205.svg"
          loading="lazy"
          style="opacity: 0"
          data-w-id="5e208695-881f-816a-21cf-becc4af91747"
          alt="custom white shadow vector"
          class="home-hero-design-shadow second"
        />
        <div class="w-layout-blockcontainer container w-container">
          <div class="hero-wrapper for--about">
            <div class="hero-title-wrapper">
              <div
                data-w-id="5e208695-881f-816a-21cf-becc4af91753"
                class="slide-animation-wrapper"
              >
                <div class="text-overflow-hidden">
                  <div
                    style="
                      -webkit-transform: translate3d(0, 80%, 0) scale3d(1, 1, 1)
                        rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                      -moz-transform: translate3d(0, 80%, 0) scale3d(1, 1, 1)
                        rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                      -ms-transform: translate3d(0, 80%, 0) scale3d(1, 1, 1)
                        rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                      transform: translate3d(0, 80%, 0) scale3d(1, 1, 1)
                        rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                    "
                    class="second-line"
                  >
                    <h1 class="text-align-center none-margin">
                      Built by Humans.
                      <span class="is--color-green-variable">Powered by AI</span
                      >
                    </h1>
                  </div>
                  <div class="shadow second"></div>
                </div>
              </div>
              <div
                data-w-id="5e208695-881f-816a-21cf-becc4af9175b"
                class="slide-animation-wrapper"
              >
                <div class="text-overflow-hidden">
                  <div
                    style="
                      -webkit-transform: translate3d(0, 80%, 0) scale3d(1, 1, 1)
                        rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                      -moz-transform: translate3d(0, 80%, 0) scale3d(1, 1, 1)
                        rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                      -ms-transform: translate3d(0, 80%, 0) scale3d(1, 1, 1)
                        rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                      transform: translate3d(0, 80%, 0) scale3d(1, 1, 1)
                        rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                    "
                    class="third-line"
                  >
                    <p class="large-paragraph for--hero">
                      We’re a team of builders, designers, and data lovers on a
                      mission to make analytics radically simple.
                    </p>
                  </div>
                  <div class="shadow third"></div>
                </div>
              </div>
              <div
                data-w-id="5e208695-881f-816a-21cf-becc4af91766"
                style="opacity: 0"
                class="buttons-row"
              >
                <a
                  data-w-id="5e208695-881f-816a-21cf-becc4af91767"
                  href="/pricing"
                  class="primary-glow-wrapper w-inline-block"
                  ><div
                    data-w-id="5e208695-881f-816a-21cf-becc4af91768"
                    class="button-overflow-hidden mobile-full-width"
                  >
                    <div class="box-shadow-block">
                      <div class="pedding-stroke">
                        <div class="inside-button have--gradiant">
                          <div class="button-text">start free trial</div>
                          <div
                            style="
                              -webkit-transform: translate3d(-100%, 0, 0)
                                scale3d(1, 1, 1) rotateX(0) rotateY(0)
                                rotateZ(0) skew(0, 0);
                              -moz-transform: translate3d(-100%, 0, 0)
                                scale3d(1, 1, 1) rotateX(0) rotateY(0)
                                rotateZ(0) skew(0, 0);
                              -ms-transform: translate3d(-100%, 0, 0)
                                scale3d(1, 1, 1) rotateX(0) rotateY(0)
                                rotateZ(0) skew(0, 0);
                              transform: translate3d(-100%, 0, 0)
                                scale3d(1, 1, 1) rotateX(0) rotateY(0)
                                rotateZ(0) skew(0, 0);
                            "
                            class="hover-line"
                          >
                          </div>
                        </div>
                      </div>
                      <div style="opacity: 0.6" class="glow-wrapper stroke">
                        <div class="glow-item left second-version"></div>
                        <div class="glow-item second-version"></div>
                      </div>
                    </div>
                  </div></a
                ><a
                  data-w-id="5e208695-881f-816a-21cf-becc4af91775"
                  href="/contact"
                  class="primary-glow-wrapper w-inline-block"
                  ><div
                    data-w-id="5e208695-881f-816a-21cf-becc4af91776"
                    class="button-overflow-hidden mobile-full-width"
                  >
                    <div class="box-shadow-block">
                      <div class="pedding-stroke">
                        <div class="inside-button">
                          <div class="button-text">contact us</div>
                          <div
                            style="
                              -webkit-transform: translate3d(-100%, 0, 0)
                                scale3d(1, 1, 1) rotateX(0) rotateY(0)
                                rotateZ(0) skew(0, 0);
                              -moz-transform: translate3d(-100%, 0, 0)
                                scale3d(1, 1, 1) rotateX(0) rotateY(0)
                                rotateZ(0) skew(0, 0);
                              -ms-transform: translate3d(-100%, 0, 0)
                                scale3d(1, 1, 1) rotateX(0) rotateY(0)
                                rotateZ(0) skew(0, 0);
                              transform: translate3d(-100%, 0, 0)
                                scale3d(1, 1, 1) rotateX(0) rotateY(0)
                                rotateZ(0) skew(0, 0);
                            "
                            class="hover-line"
                          >
                          </div>
                        </div>
                      </div>
                      <div style="opacity: 0.6" class="glow-wrapper stroke">
                        <div class="glow-item left"></div>
                        <div class="glow-item"></div>
                      </div>
                    </div>
                  </div></a
                >
              </div>
            </div>
          </div>
          <div
            data-w-id="fa58b556-1d7d-c0d3-880f-ede6b10fe97a"
            class="about-rive-wrapper"
          >
            <div
              class="about-rive left"
              data-rive-url="https://cdn.prod.website-files.com/683d438cb5f7527c291506e1/685fc4b5f22e216ffa7c21b8_3circles-v1%20(1).riv"
              data-rive-state-machine="State Machine 1"
              data-rive-artboard="Artboard"
              data-rive-autoplay="true"
              data-rive-is-touch-scroll-enabled="false"
              data-rive-automatically-handle-events="false"
              data-rive-fit="contain"
              data-rive-alignment="center"
              data-animation-type="rive"
            >
              <canvas style="height: 100%; width: 100%"></canvas>
            </div>
            <img
              src="../images/58e22f1a441f9271be4da83c34385ec049e017a4_11zon.webp"
              loading="lazy"
              style="opacity: 0"
              data-w-id="dfc04a53-5ea1-076d-21e0-853cf905adf6"
              alt="about image"
              class="about-main-image"
            />
            <div
              style="opacity: 0"
              class="about-rive"
              data-rive-url="https://cdn.prod.website-files.com/683d438cb5f7527c291506e1/685fc4b5f22e216ffa7c21b8_3circles-v1%20(1).riv"
              data-rive-state-machine="State Machine 1"
              data-rive-artboard="Artboard"
              data-rive-autoplay="true"
              data-rive-is-touch-scroll-enabled="false"
              data-rive-automatically-handle-events="false"
              data-rive-fit="contain"
              data-rive-alignment="center"
              data-animation-type="rive"
            >
              <canvas style="height: 100%; width: 100%"></canvas>
            </div>
            <img
              src="../images/rectangle-20119.svg"
              loading="lazy"
              alt="design shadow image"
              class="shadow-image"
            /><img
              src="../images/rectangle-20119.svg"
              loading="lazy"
              alt="design shadow image"
              class="shadow-image right"
            />
          </div>
        </div>
      </section>
      <section class="section">
        <div
          class="w-layout-blockcontainer container none-padding-bottom w-container"
        >
          <div class="title-wrapper large-max-width">
            <div
              data-w-id="82060e83-2c87-200b-e580-cf2df31295d5"
              class="slide-animation-wrapper flex"
            >
              <div class="text-overflow-hidden">
                <div
                  style="
                    -webkit-transform: translate3d(0, 80%, 0) scale3d(1, 1, 1)
                      rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                    -moz-transform: translate3d(0, 80%, 0) scale3d(1, 1, 1)
                      rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                    -ms-transform: translate3d(0, 80%, 0) scale3d(1, 1, 1)
                      rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                    transform: translate3d(0, 80%, 0) scale3d(1, 1, 1)
                      rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                  "
                  class="first-line"
                >
                  <h2 class="text-align-center">
                    From Frustration to
                    <span class="is--color-green-variable">Innovation</span>
                  </h2>
                </div>
                <div class="shadow second"></div>
              </div>
              <div class="text-overflow-hidden">
                <div
                  style="
                    -webkit-transform: translate3d(0, 80%, 0) scale3d(1, 1, 1)
                      rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                    -moz-transform: translate3d(0, 80%, 0) scale3d(1, 1, 1)
                      rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                    -ms-transform: translate3d(0, 80%, 0) scale3d(1, 1, 1)
                      rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                    transform: translate3d(0, 80%, 0) scale3d(1, 1, 1)
                      rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                  "
                  class="second-line"
                >
                  <p>
                    In 2012, PraxIQ set out on a mission to transform retail
                    management. Fueled by a vision for efficiency and
                    innovation, we launched with a strong commitment to
                    empowering businesses
                  </p>
                </div>
                <div class="shadow second"></div>
              </div>
              <div class="text-overflow-hidden">
                <div
                  style="
                    -webkit-transform: translate3d(0, 80%, 0) scale3d(1, 1, 1)
                      rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                    -moz-transform: translate3d(0, 80%, 0) scale3d(1, 1, 1)
                      rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                    -ms-transform: translate3d(0, 80%, 0) scale3d(1, 1, 1)
                      rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                    transform: translate3d(0, 80%, 0) scale3d(1, 1, 1)
                      rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                  "
                  class="third-line"
                >
                  <p>
                    Now, in 2025, our journey continues with unwavering passion.
                    Growth, adaptability, and cutting-edge solutions define our
                    path as we shape the future of retail, helping businesses
                    stay ahead in an ever-evolving market.
                  </p>
                </div>
                <div class="shadow second"></div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section id="Solutions" class="section overflow-visible">
        <div class="horizontal-wrapper">
          <div
            data-w-id="364191d0-27c8-0c44-f730-8aa0565e7a44"
            class="section-height"
          >
            <div class="sticky-wrapper">
              <div class="sticky-element">
                <div class="track">
                  <div class="track-flex">
                    <div class="horizontal-scroll">
                      <div class="about-scroll">
                        <div class="gallery-link"><div>scroll</div></div>
                        <div class="line-wrapper">
                          <img
                            loading="lazy"
                            src="../images/663e1dab2d1f683554cceba4_vector-20138.svg"
                            alt=""
                            class="history-line"
                          />
                          <div class="absolute-line"></div>
                        </div>
                      </div>
                      <div class="horizontal-scroll-content">
                        <div class="about-legacy">
                          <div class="about-container">
                            <div class="about-history-title-wrapper"></div>
                            <div class="history-content first">
                              <h3 class="history-date">2012</h3>
                              <div class="history-image-wrapper">
                                <img
                                  sizes="(max-width: 2731px) 100vw, 2731px"
                                  srcset="
                                    ../images/edd730edd77abf65be2075d5629fed4d14eeffff_11zon_11zon-p-500.webp   500w,
                                    ../images/edd730edd77abf65be2075d5629fed4d14eeffff_11zon_11zon-p-800.webp   800w,
                                    ../images/edd730edd77abf65be2075d5629fed4d14eeffff_11zon_11zon-p-1080.webp 1080w,
                                    ../images/edd730edd77abf65be2075d5629fed4d14eeffff_11zon_11zon.webp        2731w
                                  "
                                  alt="history image"
                                  src="../images/edd730edd77abf65be2075d5629fed4d14eeffff_11zon_11zon.webp"
                                  loading="lazy"
                                  class="history-image-second"
                                />
                                <div class="image-layer"></div>
                              </div>
                              <p class="history-p">
                                Founded in 2012 by three architects with a
                                shared vision, we began as a small studio
                                focused on thoughtful design.
                              </p>
                            </div>
                            <div class="history-content second">
                              <h3 class="history-date">2014</h3>
                              <div class="history-image-wrapper">
                                <img
                                  sizes="(max-width: 4096px) 100vw, 4096px"
                                  srcset="
                                    ../images/ace930f27bd431299b2cdc3529a8a6ad7a668379_11zon_11zon-p-500.webp   500w,
                                    ../images/ace930f27bd431299b2cdc3529a8a6ad7a668379_11zon_11zon-p-800.webp   800w,
                                    ../images/ace930f27bd431299b2cdc3529a8a6ad7a668379_11zon_11zon-p-1080.webp 1080w,
                                    ../images/ace930f27bd431299b2cdc3529a8a6ad7a668379_11zon_11zon-p-1600.webp 1600w,
                                    ../images/ace930f27bd431299b2cdc3529a8a6ad7a668379_11zon_11zon-p-2000.webp 2000w,
                                    ../images/ace930f27bd431299b2cdc3529a8a6ad7a668379_11zon_11zon.webp        4096w
                                  "
                                  alt="history image"
                                  src="../images/ace930f27bd431299b2cdc3529a8a6ad7a668379_11zon_11zon.webp"
                                  loading="lazy"
                                  class="history-image-second"
                                />
                                <div class="image-layer"></div>
                              </div>
                            </div>
                            <div class="history-content third">
                              <h3 class="history-date">2016</h3>
                              <div class="history-image-wrapper">
                                <img
                                  sizes="(max-width: 4096px) 100vw, 4096px"
                                  srcset="
                                    ../images/4952c5b78197985ba181bdc925e846e9c654517e_11zon_11zon-p-500.webp   500w,
                                    ../images/4952c5b78197985ba181bdc925e846e9c654517e_11zon_11zon-p-800.webp   800w,
                                    ../images/4952c5b78197985ba181bdc925e846e9c654517e_11zon_11zon-p-1080.webp 1080w,
                                    ../images/4952c5b78197985ba181bdc925e846e9c654517e_11zon_11zon-p-1600.webp 1600w,
                                    ../images/4952c5b78197985ba181bdc925e846e9c654517e_11zon_11zon-p-2000.webp 2000w,
                                    ../images/4952c5b78197985ba181bdc925e846e9c654517e_11zon_11zon.webp        4096w
                                  "
                                  alt="history image"
                                  src="../images/4952c5b78197985ba181bdc925e846e9c654517e_11zon_11zon.webp"
                                  loading="lazy"
                                  class="history-image-second"
                                />
                                <div class="image-layer"></div>
                              </div>
                              <p class="history-p">
                                As we grew, 2016 marked our entry into
                                commercial spaces
                              </p>
                            </div>
                            <div class="history-content fourth">
                              <h3 class="history-date">2018</h3>
                              <div class="history-image-wrapper">
                                <img
                                  sizes="(max-width: 2000px) 100vw, 2000px"
                                  srcset="
                                    ../images/d9695517df7b23255d6ba99e60966c0620c59f58_11zon_11zon-p-500.webp   500w,
                                    ../images/d9695517df7b23255d6ba99e60966c0620c59f58_11zon_11zon-p-800.webp   800w,
                                    ../images/d9695517df7b23255d6ba99e60966c0620c59f58_11zon_11zon-p-1080.webp 1080w,
                                    ../images/d9695517df7b23255d6ba99e60966c0620c59f58_11zon_11zon.webp        2000w
                                  "
                                  alt="history image"
                                  src="../images/d9695517df7b23255d6ba99e60966c0620c59f58_11zon_11zon.webp"
                                  loading="lazy"
                                  class="history-image-second"
                                />
                                <div class="image-layer"></div>
                              </div>
                              <p class="history-p">
                                and by 2018, national awards highlighted our
                                evolving identity
                              </p>
                            </div>
                            <div class="history-content fifth">
                              <h3 class="history-date">2020</h3>
                              <div class="history-image-wrapper">
                                <img
                                  sizes="(max-width: 2651px) 100vw, 2651px"
                                  srcset="
                                    ../images/1f2632cdb48df987d371fb55e38035549da233e2_11zon_11zon-p-500.webp   500w,
                                    ../images/1f2632cdb48df987d371fb55e38035549da233e2_11zon_11zon-p-800.webp   800w,
                                    ../images/1f2632cdb48df987d371fb55e38035549da233e2_11zon_11zon-p-1080.webp 1080w,
                                    ../images/1f2632cdb48df987d371fb55e38035549da233e2_11zon_11zon.webp        2651w
                                  "
                                  alt="history image"
                                  src="../images/1f2632cdb48df987d371fb55e38035549da233e2_11zon_11zon.webp"
                                  loading="lazy"
                                  class="history-image-second"
                                />
                                <div class="image-layer"></div>
                              </div>
                              <p class="history-p">
                                In 2020, we adapted to a changing world with new
                                tools, sustainable practices, and a continued
                                commitment to meaningful design.
                              </p>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="section">
        <div class="w-layout-blockcontainer container w-container">
          <div class="title-wrapper">
            <div
              data-w-id="f6ffe250-c180-dc8f-de0a-3e5e0ab5138d"
              class="slide-animation-wrapper"
            >
              <div class="text-overflow-hidden">
                <div
                  style="
                    -webkit-transform: translate3d(0, 80%, 0) scale3d(1, 1, 1)
                      rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                    -moz-transform: translate3d(0, 80%, 0) scale3d(1, 1, 1)
                      rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                    -ms-transform: translate3d(0, 80%, 0) scale3d(1, 1, 1)
                      rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                    transform: translate3d(0, 80%, 0) scale3d(1, 1, 1)
                      rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                  "
                  class="second-line"
                >
                  <h2
                    data-w-id="f6ffe250-c180-dc8f-de0a-3e5e0ab51390"
                    style="opacity: 0"
                    class="text-align-center"
                  >
                    Our Executive
                    <span class="is--color-green-variable">Team</span>
                  </h2>
                </div>
                <div class="shadow second"></div>
              </div>
            </div>
          </div>
          <div class="spacer-medium"></div>
          <div
            data-w-id="e940dd06-d141-2e3e-31b3-641eae27f008"
            class="team-members-row center"
          >
            <div class="team-member-content-wrapper">
              <div class="team-member-image-wrapper">
                <img
                  loading="lazy"
                  src="../images/frame-2010.jpg"
                  alt="team member"
                  class="team-member-image-for--tab"
                />
              </div>
              <div class="team-member-details-wrapper">
                <div class="global-medium-text">Sara Lee</div>
                <div class="team-member-job-text">Founder</div>
              </div>
            </div>
            <div class="team-member-content-wrapper">
              <div class="team-member-image-wrapper">
                <img
                  loading="lazy"
                  src="../images/frame-206.jpg"
                  alt="team member"
                  class="team-member-image-for--tab"
                />
              </div>
              <div class="team-member-details-wrapper">
                <div class="global-medium-text">Marion Barrère</div>
                <div class="team-member-job-text">Curation Director</div>
              </div>
            </div>
            <div
              data-w-id="e940dd06-d141-2e3e-31b3-641eae27f029"
              class="team-member-content-wrapper have--slide-animation"
            >
              <div class="team-member-image-wrapper">
                <img
                  loading="lazy"
                  src="../images/frame-204.jpg"
                  alt="team member"
                  class="team-member-image-for--tab"
                />
              </div>
              <div class="team-member-details-wrapper">
                <div class="global-medium-text">Mark Zellers</div>
                <div class="team-member-job-text">CMO</div>
              </div>
            </div>
          </div>
          <div class="spacer-medium"></div>
          <div class="spacer-medium"></div>
          <div
            data-w-id="9513efc4-4ace-e030-ada3-bf7e81be0561"
            style="opacity: 0"
            class="buttons-row"
          >
            <a
              data-w-id="9513efc4-4ace-e030-ada3-bf7e81be056d"
              href="/team"
              class="primary-glow-wrapper w-inline-block"
              ><div
                data-w-id="9513efc4-4ace-e030-ada3-bf7e81be056e"
                class="button-overflow-hidden mobile-full-width"
              >
                <div class="box-shadow-block">
                  <div class="pedding-stroke">
                    <div class="inside-button">
                      <div class="button-text">View All Members</div>
                      <div
                        style="
                          -webkit-transform: translate3d(-100%, 0, 0)
                            scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0)
                            skew(0, 0);
                          -moz-transform: translate3d(-100%, 0, 0)
                            scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0)
                            skew(0, 0);
                          -ms-transform: translate3d(-100%, 0, 0)
                            scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0)
                            skew(0, 0);
                          transform: translate3d(-100%, 0, 0) scale3d(1, 1, 1)
                            rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                        "
                        class="hover-line"
                      >
                      </div>
                    </div>
                  </div>
                  <div style="opacity: 0.6" class="glow-wrapper stroke">
                    <div class="glow-item left"></div>
                    <div class="glow-item"></div>
                  </div>
                </div>
              </div></a
            >
          </div>
        </div>
      </section>
      <section class="section">
        <div class="w-layout-blockcontainer container w-container">
          <div class="title-wrapper">
            <div
              data-w-id="98ad0fa8-2202-eed8-c4ca-418b8358854f"
              class="slide-animation-wrapper"
            >
              <div class="text-overflow-hidden">
                <div
                  style="
                    -webkit-transform: translate3d(0, 80%, 0) scale3d(1, 1, 1)
                      rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                    -moz-transform: translate3d(0, 80%, 0) scale3d(1, 1, 1)
                      rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                    -ms-transform: translate3d(0, 80%, 0) scale3d(1, 1, 1)
                      rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                    transform: translate3d(0, 80%, 0) scale3d(1, 1, 1)
                      rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                  "
                  class="second-line"
                >
                  <h2 class="text-align-center none-margin">
                    Trusted By
                    <span class="is--color-green-variable">+140 </span>Customers
                  </h2>
                </div>
                <div class="shadow second"></div>
              </div>
            </div>
          </div>
          <div class="spacer-medium"></div>
          <div class="partner-logos-box">
            <div
              data-w-id="b5b8d2a0-a933-0835-9009-ea330fdb0aac"
              class="partners-wrapper to-left"
            >
              <div class="partners-logo-wrapper to-left">
                <div class="partner-logo-wrapper">
                  <img
                    loading="lazy"
                    src="../images/logoipsum-325-201.svg"
                    alt="partner logo"
                    class="partner-logo"
                  />
                </div>
                <div class="partner-logo-wrapper">
                  <img
                    loading="lazy"
                    src="../images/logoipsum-218.svg"
                    alt="client logo"
                    class="partner-logo"
                  />
                </div>
                <div class="partner-logo-wrapper">
                  <img
                    loading="lazy"
                    src="../images/vector-20-4-.svg"
                    alt="partner logo"
                    class="partner-logo"
                  />
                </div>
                <div class="partner-logo-wrapper">
                  <img
                    loading="lazy"
                    src="../images/logoipsum-216.svg"
                    alt="client logo"
                    class="partner-logo"
                  />
                </div>
                <div class="partner-logo-wrapper">
                  <img
                    loading="lazy"
                    src="../images/logoipsum-290-201.svg"
                    alt="partner logo"
                    class="partner-logo"
                  />
                </div>
              </div>
              <div class="partners-logo-wrapper to-left">
                <div class="partner-logo-wrapper">
                  <img
                    loading="lazy"
                    src="../images/logoipsum-325-201.svg"
                    alt="partner logo"
                    class="partner-logo"
                  />
                </div>
                <div class="partner-logo-wrapper">
                  <img
                    loading="lazy"
                    src="../images/logoipsum-218.svg"
                    alt="client logo"
                    class="partner-logo"
                  />
                </div>
                <div class="partner-logo-wrapper">
                  <img
                    loading="lazy"
                    src="../images/vector-20-4-.svg"
                    alt="partner logo"
                    class="partner-logo"
                  />
                </div>
                <div class="partner-logo-wrapper">
                  <img
                    loading="lazy"
                    src="../images/logoipsum-216.svg"
                    alt="client logo"
                    class="partner-logo"
                  />
                </div>
                <div class="partner-logo-wrapper">
                  <img
                    loading="lazy"
                    src="../images/logoipsum-290-201.svg"
                    alt="partner logo"
                    class="partner-logo"
                  />
                </div>
              </div>
              <div class="partner-logos-shadow"></div>
              <div class="partner-logos-shadow is-right"></div>
            </div>
            <div class="partners-wrapper to-right">
              <div class="partners-logo-wrapper to-right">
                <div class="partner-logo-wrapper">
                  <img
                    loading="lazy"
                    src="../images/vector-20-4-.svg"
                    alt="partner logo"
                    class="partner-logo"
                  />
                </div>
                <div class="partner-logo-wrapper">
                  <img
                    loading="lazy"
                    src="../images/logoipsum-217.svg"
                    alt="client logo"
                    class="partner-logo"
                  />
                </div>
                <div class="partner-logo-wrapper">
                  <img
                    loading="lazy"
                    src="../images/logoipsum-325-201.svg"
                    alt="partner logo"
                    class="partner-logo"
                  />
                </div>
                <div class="partner-logo-wrapper">
                  <img
                    loading="lazy"
                    src="../images/logoipsum-213.svg"
                    alt="client logo"
                    class="partner-logo"
                  />
                </div>
                <div class="partner-logo-wrapper">
                  <img
                    loading="lazy"
                    src="../images/logoipsum-290-201.svg"
                    alt="partner logo"
                    class="partner-logo"
                  />
                </div>
              </div>
              <div class="partners-logo-wrapper to-right">
                <div class="partner-logo-wrapper">
                  <img
                    loading="lazy"
                    src="../images/vector-20-4-.svg"
                    alt="partner logo"
                    class="partner-logo"
                  />
                </div>
                <div class="partner-logo-wrapper">
                  <img
                    loading="lazy"
                    src="../images/logoipsum-217.svg"
                    alt="client logo"
                    class="partner-logo"
                  />
                </div>
                <div class="partner-logo-wrapper">
                  <img
                    loading="lazy"
                    src="../images/logoipsum-325-201.svg"
                    alt="partner logo"
                    class="partner-logo"
                  />
                </div>
                <div class="partner-logo-wrapper">
                  <img
                    loading="lazy"
                    src="../images/logoipsum-213.svg"
                    alt="client logo"
                    class="partner-logo"
                  />
                </div>
                <div class="partner-logo-wrapper">
                  <img
                    loading="lazy"
                    src="../images/logoipsum-290-201.svg"
                    alt="partner logo"
                    class="partner-logo"
                  />
                </div>
              </div>
              <div class="partner-logos-shadow"></div>
              <div class="partner-logos-shadow is-right"></div>
            </div>
          </div>
        </div>
      </section>
      <section class="section">
        <div class="w-layout-blockcontainer container w-container">
          <div class="title-wrapper large-max-width">
            <div
              data-w-id="8b327143-b916-7dac-f4b1-0a92817307a6"
              class="slide-animation-wrapper flex"
            >
              <div class="text-overflow-hidden">
                <div class="second-line">
                  <h2
                    data-w-id="8b327143-b916-7dac-f4b1-0a92817307a9"
                    class="text-align-center"
                  >
                    The Principles Behind
                    <span class="is--color-green-variable">Our Work</span>
                  </h2>
                </div>
                <div class="shadow second"></div>
              </div>
              <div class="text-overflow-hidden">
                <div class="second-line">
                  <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
                    do eiusmod
                  </p>
                </div>
                <div class="shadow second"></div>
              </div>
            </div>
          </div>
          <div class="spacer-medium"></div>
          <div class="spacer-medium"></div>
          <div
            data-w-id="8b327143-b916-7dac-f4b1-0a92817307b5"
            class="principle-block"
          >
            <div class="principle-child">
              <div class="principle-flex">
                <img
                  src="../images/image-2058.svg"
                  loading="lazy"
                  alt="principle icon"
                  class="principle-icon"
                />
                <div class="polygon-wrapper">
                  <img
                    src="../images/polygon-201.svg"
                    loading="lazy"
                    alt="polygon"
                    class="polygon"
                  />
                  <div class="principle-number">1</div>
                  <div class="principle-line">
                    <img
                      src="../images/icon-20-1-.svg"
                      loading="lazy"
                      alt="icon"
                      class="arrow"
                    />
                  </div>
                </div>
              </div>
              <div class="principle-flex center">
                <a
                  data-w-id="8b327143-b916-7dac-f4b1-0a92817307c0"
                  href="/features-pages/features-v1"
                  class="primary-glow-wrapper w-inline-block"
                  ><div
                    data-w-id="8b327143-b916-7dac-f4b1-0a92817307c1"
                    class="button-overflow-hidden mobile-full-width"
                  >
                    <div class="box-shadow-block">
                      <div class="pedding-stroke">
                        <div class="inside-button">
                          <div class="button-text">Fast and Focused</div>
                          <div class="hover-line"></div>
                        </div>
                      </div>
                      <div class="glow-wrapper stroke">
                        <div class="glow-item left"></div>
                        <div class="glow-item"></div>
                      </div>
                    </div>
                  </div></a
                >
              </div>
              <div class="principle-flex">
                <img
                  src="../images/image-20-4-.svg"
                  loading="lazy"
                  alt="principle icon"
                  class="principle-icon"
                />
                <div class="polygon-wrapper">
                  <img
                    src="../images/polygon-201.svg"
                    loading="lazy"
                    alt="polygon"
                    class="polygon"
                  />
                  <div class="principle-number">3</div>
                  <div class="principle-line">
                    <img
                      src="../images/icon-20-1-.svg"
                      loading="lazy"
                      alt="icon"
                      class="arrow"
                    />
                  </div>
                </div>
              </div>
              <div class="principle-flex center">
                <a
                  data-w-id="8b327143-b916-7dac-f4b1-0a92817307d4"
                  href="/features-pages/features-v1"
                  class="primary-glow-wrapper w-inline-block"
                  ><div
                    data-w-id="8b327143-b916-7dac-f4b1-0a92817307d5"
                    class="button-overflow-hidden mobile-full-width"
                  >
                    <div class="box-shadow-block">
                      <div class="pedding-stroke">
                        <div class="inside-button">
                          <div class="button-text">Always Smarter</div>
                          <div class="hover-line"></div>
                        </div>
                      </div>
                      <div class="glow-wrapper stroke">
                        <div class="glow-item left"></div>
                        <div class="glow-item"></div>
                      </div>
                    </div>
                  </div></a
                >
              </div>
            </div>
            <div class="principle-child">
              <div class="principle-flex center">
                <a
                  data-w-id="8b327143-b916-7dac-f4b1-0a92817307e1"
                  href="/features-pages/features-v1"
                  class="primary-glow-wrapper w-inline-block"
                  ><div
                    data-w-id="8b327143-b916-7dac-f4b1-0a92817307e2"
                    class="button-overflow-hidden mobile-full-width"
                  >
                    <div class="box-shadow-block">
                      <div class="pedding-stroke">
                        <div class="inside-button">
                          <div class="button-text">Innovation</div>
                          <div class="hover-line"></div>
                        </div>
                      </div>
                      <div class="glow-wrapper stroke">
                        <div class="glow-item left"></div>
                        <div class="glow-item"></div>
                      </div>
                    </div>
                  </div></a
                >
              </div>
              <div class="principle-flex">
                <div class="polygon-wrapper right">
                  <img
                    src="../images/polygon-201.svg"
                    loading="lazy"
                    alt="polygon"
                    class="polygon"
                  />
                  <div class="principle-number right">2</div>
                  <div class="principle-line">
                    <img
                      src="../images/icon-20-1-.svg"
                      loading="lazy"
                      alt="icon"
                      class="arrow"
                    />
                  </div>
                </div>
                <img
                  src="../images/image-20-3-.svg"
                  loading="lazy"
                  alt="principle icon"
                  class="principle-icon"
                />
              </div>
              <div class="principle-flex center">
                <a
                  data-w-id="8b327143-b916-7dac-f4b1-0a92817307f5"
                  href="/features-pages/features-v1"
                  class="primary-glow-wrapper w-inline-block"
                  ><div
                    data-w-id="8b327143-b916-7dac-f4b1-0a92817307f6"
                    class="button-overflow-hidden mobile-full-width"
                  >
                    <div class="box-shadow-block">
                      <div class="pedding-stroke">
                        <div class="inside-button">
                          <div class="button-text">People Matter</div>
                          <div class="hover-line"></div>
                        </div>
                      </div>
                      <div class="glow-wrapper stroke">
                        <div class="glow-item left"></div>
                        <div class="glow-item"></div>
                      </div>
                    </div>
                  </div></a
                >
              </div>
              <div class="principle-flex">
                <div class="polygon-wrapper right">
                  <img
                    src="../images/polygon-201.svg"
                    loading="lazy"
                    alt="polygon"
                    class="polygon"
                  />
                  <div class="principle-number right">4</div>
                  <div class="principle-line">
                    <img
                      src="../images/icon-20-1-.svg"
                      loading="lazy"
                      alt="icon"
                      class="arrow"
                    />
                  </div>
                </div>
                <img
                  src="../images/image-20-5-.svg"
                  loading="lazy"
                  alt="principle icon"
                  class="principle-icon"
                />
              </div>
            </div>
            <div
              class="principle-rive"
              data-rive-url="https://cdn.prod.website-files.com/683d438cb5f7527c291506e1/6857c84a629888172919bc92_one_line_numbers.riv"
              data-rive-state-machine="State Machine 1"
              data-rive-artboard="Artboard"
              data-rive-autoplay="true"
              data-rive-is-touch-scroll-enabled="false"
              data-rive-automatically-handle-events="false"
              data-rive-fit="contain"
              data-rive-alignment="center"
              data-animation-type="rive"
            >
              <canvas style="height: 100%; width: 100%"></canvas>
            </div>
          </div>
        </div>
      </section>
      <Footer />
    </main>
    <script
      src="../js/jquery.js?site=683d438cb5f7527c291506e1"
      type="text/javascript"></script>
    <script
      src="../js/webflow.schunk.9e6ca70a6dbe816d.js"
      type="text/javascript"></script>
    <script
      src="../js/webflow.schunk.f43efa2f54bcf888.js"
      type="text/javascript"></script>
    <script src="../js/webflow-script.js" type="text/javascript"></script>
  </body>
</html>
