 <div
        data-w-id="fae5a3b7-a997-ebe7-b716-7b255f230f89"
        data-animation="over-left"
        data-collapse="medium"
        data-duration="400"
        data-easing="ease"
        data-easing2="ease"
        role="banner"
        class="navbar w-nav"
      >
        <div class="container navbar-container w-container">
          <div class="navbar-content">
            <a
              aria-label="Main"
              role="Navigation"
              href="/"
              aria-current="page"
              class="brand w-nav-brand w--current"
              ><img
                src="images/name.svg"
                loading="lazy"
                alt="main logo"
                class="black-logo" /><img
                src="images/group-209-20-2-.svg"
                loading="lazy"
                alt="main logo white"
                class="white-logo"
            /></a>
            <nav role="navigation" class="nav-menu-wrapper w-nav-menu">
              <div class="nav-menu none--border">
                <a
                  href="/"
                  aria-current="page"
                  class="global-link nav-link first w--current"
                  >home</a
                ><a href="/about-pages/about-v1" class="global-link nav-link"
                  >about</a
                ><a
                  href="/features-pages/features-v1"
                  class="global-link nav-link"
                  >features</a
                ><a href="/pricing" class="global-link nav-link">pricing</a
                ><a href="/career" class="global-link nav-link">career</a>
                <div
                  data-delay="0"
                  data-hover="false"
                  data-w-id="9d4fda97-87d9-798c-247f-a302eba4e4fe"
                  class="dropdown w-dropdown"
                >
                  <div class="dropdown-toggle w-dropdown-toggle">
                    <div class="dropdown-icon w-icon-dropdown-toggle"></div>
                    <div class="global-link nav-link">more</div>
                  </div>
                  <nav class="nav-dropdown-list w-dropdown-list">
                    <div class="nav-dropdown-content">
                      <div class="nav-dropdown-grid-block">
                        <div class="nav-grid-child">
                          <div class="global-link-dropdown nav-link for--title">
                            multi pages
                          </div>
                          <a
                            href="/"
                            aria-current="page"
                            class="global-link-dropdown nav-link for--dropdown w--current"
                            >Home v1</a
                          ><a
                            href="/home-pages/home-v2"
                            class="global-link-dropdown nav-link for--dropdown"
                            >Home v2</a
                          ><a
                            href="/home-pages/home-v3"
                            class="global-link-dropdown nav-link for--dropdown"
                            >Home v3</a
                          ><a
                            href="/about-pages/about-v1"
                            class="global-link-dropdown nav-link for--dropdown"
                            >About v1</a
                          ><a
                            href="/about-pages/about-v2"
                            class="global-link-dropdown nav-link for--dropdown"
                            >About v2</a
                          ><a
                            href="/about-pages/about-v3"
                            class="global-link-dropdown nav-link for--dropdown"
                            >About v3</a
                          >
                        </div>
                        <div class="nav-grid-child">
                          <div class="global-link-dropdown nav-link for--title">
                            multi pages
                          </div>
                          <a
                            href="/features-pages/features-v1"
                            class="global-link-dropdown nav-link for--dropdown"
                            >Features v1</a
                          ><a
                            href="/features-pages/features-v2"
                            class="global-link-dropdown nav-link for--dropdown"
                            >Features v2</a
                          ><a
                            href="/features-pages/features-v3"
                            class="global-link-dropdown nav-link for--dropdown"
                            >Features v3</a
                          ><a
                            href="/contact"
                            class="global-link-dropdown nav-link for--dropdown"
                            >Contact</a
                          >
                        </div>
                        <div class="nav-grid-child">
                          <div class="global-link-dropdown nav-link for--title">
                            main pages
                          </div>
                          <a
                            href="/pricing"
                            class="global-link-dropdown nav-link for--dropdown"
                            >Pricing</a
                          ><a
                            href="/integrations"
                            class="global-link-dropdown nav-link for--dropdown"
                            >Integrations</a
                          ><a
                            href="/career"
                            class="global-link-dropdown nav-link for--dropdown"
                            >Career</a
                          ><a
                            href="/team"
                            class="global-link-dropdown nav-link for--dropdown"
                            >Team</a
                          ><a
                            href="/blog"
                            class="global-link-dropdown nav-link for--dropdown"
                            >Blog</a
                          >
                        </div>
                        <div class="nav-grid-child">
                          <div class="global-link-dropdown nav-link for--title">
                            Utility Pages
                          </div>
                          <a
                            href="/utility-pages/sign-in"
                            class="global-link-dropdown nav-link for--dropdown"
                            >Sign in</a
                          ><a
                            href="/utility-pages/sign-up"
                            class="global-link-dropdown nav-link for--dropdown"
                            >Sign up</a
                          ><a
                            href="/utility-pages/reset-password"
                            class="global-link-dropdown nav-link for--dropdown"
                            >Reset password</a
                          ><a
                            href="/legal-pages/terms-of-use"
                            class="global-link-dropdown nav-link for--dropdown"
                            >Terms of service</a
                          ><a
                            href="/legal-pages/privacy-policy"
                            class="global-link-dropdown nav-link for--dropdown"
                            >Privacy policy</a
                          >
                        </div>
                        <div class="nav-grid-child">
                          <div class="global-link-dropdown nav-link for--title">
                            CMS pages
                          </div>
                          <a
                            href="https://praxlq.webflow.io/post/a-guide-to-remote-work-best-practices-and-tools-you-need"
                            class="global-link-dropdown nav-link for--dropdown"
                            >Blog Details</a
                          ><a
                            href="https://praxlq.webflow.io/author/michael-miller"
                            class="global-link-dropdown nav-link for--dropdown"
                            >Author Details</a
                          ><a
                            href="https://praxlq.webflow.io/blog-category/strategy"
                            class="global-link-dropdown nav-link for--dropdown"
                            >Category details</a
                          ><a
                            href="https://praxlq.webflow.io/career/senior-frontend-engineer-core"
                            class="global-link-dropdown nav-link for--dropdown"
                            >Career Details</a
                          ><a
                            href="https://praxlq.webflow.io/product/starter"
                            class="global-link-dropdown nav-link for--dropdown"
                            >Product details</a
                          >
                        </div>
                        <div class="nav-grid-child">
                          <div class="global-link-dropdown nav-link for--title">
                            other pages
                          </div>
                          <a
                            href="/coming-soon"
                            class="global-link-dropdown nav-link for--dropdown"
                            >Coming Soon</a
                          ><a
                            href="/extra-components/faqs"
                            class="global-link-dropdown nav-link for--dropdown"
                            >FAQs</a
                          ><a
                            href="/extra-components/testimonials"
                            class="global-link-dropdown nav-link for--dropdown"
                            >Testimonials</a
                          ><a
                            href="/template-pages/style-guide"
                            class="global-link-dropdown nav-link for--dropdown"
                            >Style Gyide</a
                          ><a
                            href="/template-pages/change-log"
                            class="global-link-dropdown nav-link for--dropdown"
                            >Change log</a
                          ><a
                            href="/template-pages/licenses"
                            class="global-link-dropdown nav-link for--dropdown"
                            >Licensing</a
                          >
                        </div>
                      </div>
                    </div>
                  </nav>
                </div>
              </div>
            </nav>
            <div class="cart-wrap">
              <div
                data-open-product=""
                data-wf-cart-type="leftSidebar"
                data-wf-cart-query="query Dynamo3 {
  database {
    id
    commerceOrder {
      comment
      extraItems {
        name
        pluginId
        pluginName
        price {
          decimalValue
          string
          unit
          value
        }
      }
      id
      startedOn
      statusFlags {
        hasDownloads
        hasSubscription
        isFreeOrder
        requiresShipping
      }
      subtotal {
        decimalValue
        string
        unit
        value
      }
      total {
        decimalValue
        string
        unit
        value
      }
      updatedOn
      userItems {
        count
        id
        product {
          id
          cmsLocaleId
          draft
          archived
          f_name_: name
          f_sku_properties_3dr: skuProperties {
            id
            name
            enum {
              id
              name
              slug
            }
          }
        }
        rowTotal {
          decimalValue
          string
          unit
          value
        }
        sku {
          cmsLocaleId
          draft
          archived
          f_sku_values_3dr: skuValues {
            property {
              id
            }
            value {
              id
            }
          }
          id
        }
        subscriptionFrequency
        subscriptionInterval
        subscriptionTrial
      }
      userItemsCount
    }
  }
  site {
    commerce {
      id
      businessAddress {
        country
      }
      defaultCountry
      defaultCurrency
      quickCheckoutEnabled
    }
  }
}"
                data-wf-page-link-href-prefix=""
                data-wf-cart-easing="ease-in-out-cubic"
                data-wf-cart-duration="500"
                class="w-commerce-commercecartwrapper"
                data-node-type="commerce-cart-wrapper"
              >
                <a
                  data-w-id="1cb93335-3aa9-75d0-cfa2-359e6299970a"
                  class="w-commerce-commercecartopenlink cart-button w-inline-block"
                  role="button"
                  aria-haspopup="dialog"
                  aria-label="Open cart"
                  data-node-type="commerce-cart-open-link"
                  href="#"
                  ><div class="hide-on-tablet w-inline-block">Cart(</div>
                  <div
                    data-wf-bindings="%5B%7B%22innerHTML%22%3A%7B%22type%22%3A%22Number%22%2C%22filter%22%3A%7B%22type%22%3A%22numberPrecision%22%2C%22params%22%3A%5B%220%22%2C%22numberPrecision%22%5D%7D%2C%22dataPath%22%3A%22database.commerceOrder.userItemsCount%22%7D%7D%5D"
                    class="w-commerce-commercecartopenlinkcount cart-quantity"
                  >
                    0
                  </div>
                  <div class="hide-on-tablet w-inline-block">)</div>
                  <img
                    src="images/icons8-cart-24-20-1-.png"
                    loading="lazy"
                    alt="cart"
                    class="cart-image"
                /></a>
                <div
                  style="display: none"
                  class="w-commerce-commercecartcontainerwrapper w-commerce-commercecartcontainerwrapper--cartType-leftSidebar nav-cart-wrapper"
                  data-node-type="commerce-cart-container-wrapper"
                >
                  <div
                    data-node-type="commerce-cart-container"
                    role="dialog"
                    class="w-commerce-commercecartcontainer cart-container"
                  >
                    <div class="w-commerce-commercecartheader cart-header">
                      <h4 class="w-commerce-commercecartheading">Your Cart</h4>
                      <a
                        class="w-commerce-commercecartcloselink cart-close-button w-inline-block"
                        role="button"
                        aria-label="Close cart"
                        data-node-type="commerce-cart-close-link"
                        ><img
                          loading="lazy"
                          src="images/icons8-cross-50-20-1-.png"
                          alt="cross icon"
                      /></a>
                    </div>
                    <div
                      class="w-commerce-commercecartformwrapper cart-form-wrapper"
                    >
                      <form
                        style="display: none"
                        class="w-commerce-commercecartform cart-default-state"
                        data-node-type="commerce-cart-form"
                      >
                        <script
                          type="text/x-wf-template"
                          id="wf-template-1cb93335-3aa9-75d0-cfa2-359e62999719"
                        >
                          %3Cdiv%20class%3D%22w-commerce-commercecartitem%20cart-item%22%3E%3Cdiv%20class%3D%22cart-item-content%22%3E%3Cdiv%20class%3D%22w-commerce-commercecartiteminfo%20line-height%22%3E%3Cdiv%20data-wf-bindings%3D%22%255B%257B%2522innerHTML%2522%253A%257B%2522type%2522%253A%2522PlainText%2522%252C%2522filter%2522%253A%257B%2522type%2522%253A%2522identity%2522%252C%2522params%2522%253A%255B%255D%257D%252C%2522dataPath%2522%253A%2522database.commerceOrder.userItems%255B%255D.product.f_name_%2522%257D%257D%255D%22%20class%3D%22w-commerce-commercecartproductname%20heading-style-h4%20w-dyn-bind-empty%22%3E%3C%2Fdiv%3E%3Cdiv%20class%3D%22order-price%22%3EThis%20is%20some%20text%20inside%20of%20a%20div%20block.%3C%2Fdiv%3E%3Cscript%20type%3D%22text%2Fx-wf-template%22%20id%3D%22wf-template-1cb93335-3aa9-75d0-cfa2-359e62999723%22%3E%253Cli%253E%253Cspan%2520data-wf-bindings%253D%2522%25255B%25257B%252522innerHTML%252522%25253A%25257B%252522type%252522%25253A%252522PlainText%252522%25252C%252522filter%252522%25253A%25257B%252522type%252522%25253A%252522identity%252522%25252C%252522params%252522%25253A%25255B%25255D%25257D%25252C%252522dataPath%252522%25253A%252522database.commerceOrder.userItems%25255B%25255D.product.f_sku_properties_3dr%25255B%25255D.name%252522%25257D%25257D%25255D%2522%253E%253C%252Fspan%253E%253Cspan%2520class%253D%2522text-color-primary%2522%253E%253A%2520%253C%252Fspan%253E%253Cspan%2520class%253D%2522is--color-gray%2522%2520data-wf-bindings%253D%2522%25255B%25257B%252522innerHTML%252522%25253A%25257B%252522type%252522%25253A%252522CommercePropValues%252522%25252C%252522filter%252522%25253A%25257B%252522type%252522%25253A%252522identity%252522%25252C%252522params%252522%25253A%25255B%25255D%25257D%25252C%252522dataPath%252522%25253A%252522database.commerceOrder.userItems%25255B%25255D.product.f_sku_properties_3dr%25255B%25255D%252522%25257D%25257D%25255D%2522%253E%253C%252Fspan%253E%253C%252Fli%253E%3C%2Fscript%3E%3Cul%20data-wf-bindings%3D%22%255B%257B%2522optionSets%2522%253A%257B%2522type%2522%253A%2522CommercePropTable%2522%252C%2522filter%2522%253A%257B%2522type%2522%253A%2522identity%2522%252C%2522params%2522%253A%255B%255D%257D%252C%2522dataPath%2522%253A%2522database.commerceOrder.userItems%255B%255D.product.f_sku_properties_3dr%5B%5D%2522%257D%257D%252C%257B%2522optionValues%2522%253A%257B%2522type%2522%253A%2522CommercePropValues%2522%252C%2522filter%2522%253A%257B%2522type%2522%253A%2522identity%2522%252C%2522params%2522%253A%255B%255D%257D%252C%2522dataPath%2522%253A%2522database.commerceOrder.userItems%255B%255D.sku.f_sku_values_3dr%2522%257D%257D%255D%22%20class%3D%22w-commerce-commercecartoptionlist%22%20data-wf-collection%3D%22database.commerceOrder.userItems%255B%255D.product.f_sku_properties_3dr%22%20data-wf-template-id%3D%22wf-template-1cb93335-3aa9-75d0-cfa2-359e62999723%22%3E%3Cli%3E%3Cspan%20data-wf-bindings%3D%22%255B%257B%2522innerHTML%2522%253A%257B%2522type%2522%253A%2522PlainText%2522%252C%2522filter%2522%253A%257B%2522type%2522%253A%2522identity%2522%252C%2522params%2522%253A%255B%255D%257D%252C%2522dataPath%2522%253A%2522database.commerceOrder.userItems%255B%255D.product.f_sku_properties_3dr%255B%255D.name%2522%257D%257D%255D%22%3E%3C%2Fspan%3E%3Cspan%20class%3D%22text-color-primary%22%3E%3A%20%3C%2Fspan%3E%3Cspan%20class%3D%22is--color-gray%22%20data-wf-bindings%3D%22%255B%257B%2522innerHTML%2522%253A%257B%2522type%2522%253A%2522CommercePropValues%2522%252C%2522filter%2522%253A%257B%2522type%2522%253A%2522identity%2522%252C%2522params%2522%253A%255B%255D%257D%252C%2522dataPath%2522%253A%2522database.commerceOrder.userItems%255B%255D.product.f_sku_properties_3dr%255B%255D%2522%257D%257D%255D%22%3E%3C%2Fspan%3E%3C%2Fli%3E%3C%2Ful%3E%3Ca%20href%3D%22%23%22%20role%3D%22button%22%20data-wf-bindings%3D%22%255B%257B%2522data-commerce-sku-id%2522%253A%257B%2522type%2522%253A%2522ItemRef%2522%252C%2522filter%2522%253A%257B%2522type%2522%253A%2522identity%2522%252C%2522params%2522%253A%255B%255D%257D%252C%2522dataPath%2522%253A%2522database.commerceOrder.userItems%255B%255D.sku.id%2522%257D%257D%255D%22%20class%3D%22cart-remove-button%20w-inline-block%22%20data-wf-cart-action%3D%22remove-item%22%20data-commerce-sku-id%3D%22%22%20aria-label%3D%22Remove%20item%20from%20cart%22%3E%3Cdiv%3ERemove%3C%2Fdiv%3E%3C%2Fa%3E%3C%2Fdiv%3E%3C%2Fdiv%3E%3Cinput%20aria-label%3D%22Update%20quantity%22%20data-wf-bindings%3D%22%255B%257B%2522value%2522%253A%257B%2522type%2522%253A%2522Number%2522%252C%2522filter%2522%253A%257B%2522type%2522%253A%2522numberPrecision%2522%252C%2522params%2522%253A%255B%25220%2522%252C%2522numberPrecision%2522%255D%257D%252C%2522dataPath%2522%253A%2522database.commerceOrder.userItems%255B%255D.count%2522%257D%257D%252C%257B%2522data-commerce-sku-id%2522%253A%257B%2522type%2522%253A%2522ItemRef%2522%252C%2522filter%2522%253A%257B%2522type%2522%253A%2522identity%2522%252C%2522params%2522%253A%255B%255D%257D%252C%2522dataPath%2522%253A%2522database.commerceOrder.userItems%255B%255D.sku.id%2522%257D%257D%255D%22%20class%3D%22w-commerce-commercecartquantity%20cart-quantity%20is-for-menu-cart%22%20required%3D%22%22%20pattern%3D%22%5E%5B0-9%5D%2B%24%22%20inputMode%3D%22numeric%22%20type%3D%22number%22%20name%3D%22quantity%22%20autoComplete%3D%22off%22%20data-wf-cart-action%3D%22update-item-quantity%22%20data-commerce-sku-id%3D%22%22%20value%3D%221%22%2F%3E%3C%2Fdiv%3E
                        </script>
                        <div
                          class="w-commerce-commercecartlist cart-list"
                          data-wf-collection="database.commerceOrder.userItems"
                          data-wf-template-id="wf-template-1cb93335-3aa9-75d0-cfa2-359e62999719"
                        >
                          <div class="w-commerce-commercecartitem cart-item">
                            <div class="cart-item-content">
                              <div
                                class="w-commerce-commercecartiteminfo line-height"
                              >
                                <div
                                  data-wf-bindings="%5B%7B%22innerHTML%22%3A%7B%22type%22%3A%22PlainText%22%2C%22filter%22%3A%7B%22type%22%3A%22identity%22%2C%22params%22%3A%5B%5D%7D%2C%22dataPath%22%3A%22database.commerceOrder.userItems%5B%5D.product.f_name_%22%7D%7D%5D"
                                  class="w-commerce-commercecartproductname heading-style-h4 w-dyn-bind-empty"
                                ></div>
                                <div class="order-price">
                                  This is some text inside of a div block.
                                </div>
                                <script
                                  type="text/x-wf-template"
                                  id="wf-template-1cb93335-3aa9-75d0-cfa2-359e62999723"
                                >
                                  %3Cli%3E%3Cspan%20data-wf-bindings%3D%22%255B%257B%2522innerHTML%2522%253A%257B%2522type%2522%253A%2522PlainText%2522%252C%2522filter%2522%253A%257B%2522type%2522%253A%2522identity%2522%252C%2522params%2522%253A%255B%255D%257D%252C%2522dataPath%2522%253A%2522database.commerceOrder.userItems%255B%255D.product.f_sku_properties_3dr%255B%255D.name%2522%257D%257D%255D%22%3E%3C%2Fspan%3E%3Cspan%20class%3D%22text-color-primary%22%3E%3A%20%3C%2Fspan%3E%3Cspan%20class%3D%22is--color-gray%22%20data-wf-bindings%3D%22%255B%257B%2522innerHTML%2522%253A%257B%2522type%2522%253A%2522CommercePropValues%2522%252C%2522filter%2522%253A%257B%2522type%2522%253A%2522identity%2522%252C%2522params%2522%253A%255B%255D%257D%252C%2522dataPath%2522%253A%2522database.commerceOrder.userItems%255B%255D.product.f_sku_properties_3dr%255B%255D%2522%257D%257D%255D%22%3E%3C%2Fspan%3E%3C%2Fli%3E
                                </script>
                                <ul
                                  data-wf-bindings="%5B%7B%22optionSets%22%3A%7B%22type%22%3A%22CommercePropTable%22%2C%22filter%22%3A%7B%22type%22%3A%22identity%22%2C%22params%22%3A%5B%5D%7D%2C%22dataPath%22%3A%22database.commerceOrder.userItems%5B%5D.product.f_sku_properties_3dr[]%22%7D%7D%2C%7B%22optionValues%22%3A%7B%22type%22%3A%22CommercePropValues%22%2C%22filter%22%3A%7B%22type%22%3A%22identity%22%2C%22params%22%3A%5B%5D%7D%2C%22dataPath%22%3A%22database.commerceOrder.userItems%5B%5D.sku.f_sku_values_3dr%22%7D%7D%5D"
                                  class="w-commerce-commercecartoptionlist"
                                  data-wf-collection="database.commerceOrder.userItems%5B%5D.product.f_sku_properties_3dr"
                                  data-wf-template-id="wf-template-1cb93335-3aa9-75d0-cfa2-359e62999723"
                                >
                                  <li>
                                    <span
                                      data-wf-bindings="%5B%7B%22innerHTML%22%3A%7B%22type%22%3A%22PlainText%22%2C%22filter%22%3A%7B%22type%22%3A%22identity%22%2C%22params%22%3A%5B%5D%7D%2C%22dataPath%22%3A%22database.commerceOrder.userItems%5B%5D.product.f_sku_properties_3dr%5B%5D.name%22%7D%7D%5D"
                                    ></span
                                    ><span class="text-color-primary">: </span
                                    ><span
                                      class="is--color-gray"
                                      data-wf-bindings="%5B%7B%22innerHTML%22%3A%7B%22type%22%3A%22CommercePropValues%22%2C%22filter%22%3A%7B%22type%22%3A%22identity%22%2C%22params%22%3A%5B%5D%7D%2C%22dataPath%22%3A%22database.commerceOrder.userItems%5B%5D.product.f_sku_properties_3dr%5B%5D%22%7D%7D%5D"
                                    ></span>
                                  </li>
                                </ul>
                                <a
                                  href="#"
                                  role="button"
                                  data-wf-bindings="%5B%7B%22data-commerce-sku-id%22%3A%7B%22type%22%3A%22ItemRef%22%2C%22filter%22%3A%7B%22type%22%3A%22identity%22%2C%22params%22%3A%5B%5D%7D%2C%22dataPath%22%3A%22database.commerceOrder.userItems%5B%5D.sku.id%22%7D%7D%5D"
                                  class="cart-remove-button w-inline-block"
                                  data-wf-cart-action="remove-item"
                                  data-commerce-sku-id=""
                                  aria-label="Remove item from cart"
                                  ><div>Remove</div></a
                                >
                              </div>
                            </div>
                            <input
                              aria-label="Update quantity"
                              data-wf-bindings="%5B%7B%22value%22%3A%7B%22type%22%3A%22Number%22%2C%22filter%22%3A%7B%22type%22%3A%22numberPrecision%22%2C%22params%22%3A%5B%220%22%2C%22numberPrecision%22%5D%7D%2C%22dataPath%22%3A%22database.commerceOrder.userItems%5B%5D.count%22%7D%7D%2C%7B%22data-commerce-sku-id%22%3A%7B%22type%22%3A%22ItemRef%22%2C%22filter%22%3A%7B%22type%22%3A%22identity%22%2C%22params%22%3A%5B%5D%7D%2C%22dataPath%22%3A%22database.commerceOrder.userItems%5B%5D.sku.id%22%7D%7D%5D"
                              class="w-commerce-commercecartquantity cart-quantity is-for-menu-cart"
                              required=""
                              pattern="^[0-9]+$"
                              inputmode="numeric"
                              type="number"
                              name="quantity"
                              autocomplete="off"
                              data-wf-cart-action="update-item-quantity"
                              data-commerce-sku-id=""
                              value="1"
                            />
                          </div>
                        </div>
                        <div class="w-commerce-commercecartfooter cart-footer">
                          <div
                            aria-live="polite"
                            aria-atomic="true"
                            class="w-commerce-commercecartlineitem"
                          >
                            <div>Subtotal</div>
                            <div
                              data-wf-bindings="%5B%7B%22innerHTML%22%3A%7B%22type%22%3A%22CommercePrice%22%2C%22filter%22%3A%7B%22type%22%3A%22price%22%2C%22params%22%3A%5B%5D%7D%2C%22dataPath%22%3A%22database.commerceOrder.subtotal%22%7D%7D%5D"
                              class="w-commerce-commercecartordervalue order-price"
                            ></div>
                          </div>
                          <div>
                            <div
                              data-node-type="commerce-cart-quick-checkout-actions"
                              style="display: none"
                            >
                              <a
                                role="button"
                                aria-haspopup="dialog"
                                aria-label="Apple Pay"
                                data-node-type="commerce-cart-apple-pay-button"
                                style="
                                  background-image: -webkit-named-image(
                                    apple-pay-logo-white
                                  );
                                  background-size: 100% 50%;
                                  background-position: 50% 50%;
                                  background-repeat: no-repeat;
                                "
                                class="w-commerce-commercecartapplepaybutton apple-pay"
                                tabindex="0"
                                ><div></div></a
                              ><a
                                role="button"
                                tabindex="0"
                                aria-haspopup="dialog"
                                data-node-type="commerce-cart-quick-checkout-button"
                                style="display: none"
                                class="w-commerce-commercecartquickcheckoutbutton apple-pay"
                                ><svg
                                  class="w-commerce-commercequickcheckoutgoogleicon"
                                  xmlns="http://www.w3.org/2000/svg"
                                  xmlns:xlink="http://www.w3.org/1999/xlink"
                                  width="16"
                                  height="16"
                                  viewBox="0 0 16 16"
                                >
                                  <defs>
                                    <polygon
                                      id="google-mark-a"
                                      points="0 .329 3.494 .329 3.494 7.649 0 7.649"
                                    ></polygon>
                                    <polygon
                                      id="google-mark-c"
                                      points=".894 0 13.169 0 13.169 6.443 .894 6.443"
                                    ></polygon>
                                  </defs>
                                  <g fill="none" fill-rule="evenodd">
                                    <path
                                      fill="#4285F4"
                                      d="M10.5967,12.0469 L10.5967,14.0649 L13.1167,14.0649 C14.6047,12.6759 15.4577,10.6209 15.4577,8.1779 C15.4577,7.6339 15.4137,7.0889 15.3257,6.5559 L7.8887,6.5559 L7.8887,9.6329 L12.1507,9.6329 C11.9767,10.6119 11.4147,11.4899 10.5967,12.0469"
                                    ></path>
                                    <path
                                      fill="#34A853"
                                      d="M7.8887,16 C10.0137,16 11.8107,15.289 13.1147,14.067 C13.1147,14.066 13.1157,14.065 13.1167,14.064 L10.5967,12.047 C10.5877,12.053 10.5807,12.061 10.5727,12.067 C9.8607,12.556 8.9507,12.833 7.8887,12.833 C5.8577,12.833 4.1387,11.457 3.4937,9.605 L0.8747,9.605 L0.8747,11.648 C2.2197,14.319 4.9287,16 7.8887,16"
                                    ></path>
                                    <g transform="translate(0 4)">
                                      <mask id="google-mark-b" fill="#fff">
                                        <use xlink:href="#google-mark-a"></use>
                                      </mask>
                                      <path
                                        fill="#FBBC04"
                                        d="M3.4639,5.5337 C3.1369,4.5477 3.1359,3.4727 3.4609,2.4757 L3.4639,2.4777 C3.4679,2.4657 3.4749,2.4547 3.4789,2.4427 L3.4939,0.3287 L0.8939,0.3287 C0.8799,0.3577 0.8599,0.3827 0.8459,0.4117 C-0.2821,2.6667 -0.2821,5.3337 0.8459,7.5887 L0.8459,7.5997 C0.8549,7.6167 0.8659,7.6317 0.8749,7.6487 L3.4939,5.6057 C3.4849,5.5807 3.4729,5.5587 3.4639,5.5337"
                                        mask="url(#google-mark-b)"
                                      ></path>
                                    </g>
                                    <mask id="google-mark-d" fill="#fff">
                                      <use xlink:href="#google-mark-c"></use>
                                    </mask>
                                    <path
                                      fill="#EA4335"
                                      d="M0.894,4.3291 L3.478,6.4431 C4.113,4.5611 5.843,3.1671 7.889,3.1671 C9.018,3.1451 10.102,3.5781 10.912,4.3671 L13.169,2.0781 C11.733,0.7231 9.85,-0.0219 7.889,0.0001 C4.941,0.0001 2.245,1.6791 0.894,4.3291"
                                      mask="url(#google-mark-d)"
                                    ></path>
                                  </g></svg
                                ><svg
                                  class="w-commerce-commercequickcheckoutmicrosofticon"
                                  xmlns="http://www.w3.org/2000/svg"
                                  width="16"
                                  height="16"
                                  viewBox="0 0 16 16"
                                >
                                  <g fill="none" fill-rule="evenodd">
                                    <polygon
                                      fill="#F05022"
                                      points="7 7 1 7 1 1 7 1"
                                    ></polygon>
                                    <polygon
                                      fill="#7DB902"
                                      points="15 7 9 7 9 1 15 1"
                                    ></polygon>
                                    <polygon
                                      fill="#00A4EE"
                                      points="7 15 1 15 1 9 7 9"
                                    ></polygon>
                                    <polygon
                                      fill="#FFB700"
                                      points="15 15 9 15 9 9 15 9"
                                    ></polygon>
                                  </g>
                                </svg>
                                <div>Pay with browser.</div></a
                              >
                            </div>
                            <a
                              href="/checkout"
                              value="Continue to Checkout"
                              class="w-commerce-commercecartcheckoutbutton global-pricing-button secondary for--product"
                              data-loading-text="Hang Tight..."
                              data-node-type="cart-checkout-button"
                              >Continue to Checkout</a
                            >
                          </div>
                        </div>
                      </form>
                      <div
                        class="w-commerce-commercecartemptystate empty-message"
                      >
                        <div aria-label="This cart is empty" aria-live="polite">
                          No items found.
                        </div>
                      </div>
                      <div
                        aria-live="assertive"
                        style="display: none"
                        data-node-type="commerce-cart-error"
                        class="w-commerce-commercecarterrorstate form-message-error"
                      >
                        <div
                          class="w-cart-error-msg"
                          data-w-cart-quantity-error="Product is not available in this quantity."
                          data-w-cart-general-error="Something went wrong when adding this item to the cart."
                          data-w-cart-checkout-error="Checkout is disabled on this site."
                          data-w-cart-cart_order_min-error="The order minimum was not met. Add more items to your cart to continue."
                          data-w-cart-subscription_error-error="Before you purchase, please use your email invite to verify your address so we can send order updates."
                        >
                          Product is not available in this quantity.
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="menu-button w-nav-button">
                <div class="w-icon-nav-menu"></div>
              </div>
              <div class="nav-menu hide-on-tablet">
                <a
                  data-w-id="86d06777-2d03-939f-acc2-9be894164065"
                  href="/pricing"
                  class="primary-glow-wrapper w-inline-block"
                  ><div
                    data-w-id="86d06777-2d03-939f-acc2-9be894164066"
                    class="button-overflow-hidden"
                  >
                    <div class="box-shadow-block">
                      <div class="pedding-stroke">
                        <div class="inside-button">
                          <div class="button-text">Get Started</div>
                          <div class="hover-line"></div>
                        </div>
                      </div>
                      <div class="glow-wrapper stroke">
                        <div class="glow-item left"></div>
                        <div class="glow-item"></div>
                      </div>
                    </div>
                  </div>
                  <div class="glow-wrapper bg">
                    <div class="glow-item left bg"></div>
                    <div class="glow-item bg"></div></div
                ></a>
              </div>
            </div>
          </div>
        </div>
      </div>